<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo CRUD App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" href="/styles.css"/>-->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>

</head>

<body >

<div class="center-block" style="width: 800px">

    <h1 >Todos for Today</h1>
    <!--<ul>-->
    <!--<li>Start the day</li>-->
    <!--<br/>-->
    <!--<li>Finish H2 workshop1</li>-->
    <!--<br/>-->
    <!--<li>Finish JPA workshop2</li>-->
    <!--<br/>-->
    <!--<li>Create a CRUD project</li>-->
    <!--</ul>-->
    <table align="center" class="table-striped table-hover" style="width: 800px">

        <a style="display: block" href="/todo/add">Add new todo</a>
        <button class="btn btn-warning">Delete</button>

        <br/>
        <!--th:width="90%" th:border="5"-->
        <tr>
            <th>id</th>
            <th>title</th>
            <th>urgent</th>
            <th>completed</th>
        </tr>

        <div th:each="todo : ${todos}">
            <tr>
                <td><span th:text="${todo.getId()}"></span></td>
                <td><span th:text="${todo.getTitle()}"></span></td>


                <div th:if="${todo.isUrgent()}">
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                </div>

                <div th:unless="${todo.isUrgent()}">
                    <td></td>
                </div>

                <div th:if="${todo.isCompleted()}">
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                </div>

                <div th:unless="${todo.isCompleted()}">
                    <td></td>
                </div>

                <!--<td><span th:text="${todo.isCompleted()? 'yes' : 'no'}"></span></td>-->


                <td>
                    <form th:action="|/todo/${todo.getId()}/delete|" th:method="post">
                        <button class="btn btn-warning">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="|/todo/${todo.getId()}/edit|" th:method="get">
                        <button class="btn btn-primary">Edit</button>
                    </form>
                </td>
            </tr>
        </div>

    </table>


    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</div>
</body>
</html>

<!--<img src="..." alt="..." class="img-rounded">-->

<!--<td th:text="${todo.isUrgent() ? 'yes' : 'no'}"></td>-->