<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>

<a style="display: block" href="/useful/colored">Background color</a>

<a style="display: block" href="/useful/email?email=is@this.valid">is@this.valid</a>

<a style="display: block" href="/useful/caesar-encoding?encoding=example?number=1">Caesar encoder</a>

<a style="display: block" href="/useful/caesar-decoding?decoding=fybnqmf?number=-1">Caesar decoder</a>

</body>
</html>